@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

:root {
  --font-family: "Inter", sans-serif;
  --color-text: #172b4d;
  --color-new: #36b37e;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  margin: 20px auto;
}

.nav-bar img {
  height: 20px;
}

.headline-container {
  background-image: url("./assets/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-page {
  text-align: center;
  align-items: center;
  margin-top: 92px;
  width: 100%;
}

.header-page h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: var(--color-text);
}

.header-page h1 > span {
  color: var(--color-new);
}

.header-page p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-text);
  margin: 20px;
}

.header-icons {
  width: 96%;
  margin: 20px auto;
}

ul {
  list-style: none;
}

.list li {
  background: #ebf0ee;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.skills li {
  background: #fff;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.header-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-icons ul li {
  list-style: none;
  margin: 10px 5px;
  padding: 5px;
}

.bottom-icon {
  align-items: center;
  text-align: center;
  margin-top: 24px;
}


