
 

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

:root {
  --font-family: "Inter", sans-serif;
  --color-text: #172b4d;
  --color-new: #28845d;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  margin: 20px auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}

/* #menu-option {
  z-index: 10;
} */

/* .nav-bar_desktop {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  z-index: 10;
} */

.hidden {
  display: none;
}

/* .nav-bar_desktop ul {
  list-style: none;
  color:#3a4a42;
  padding-left: 24px;
  padding-top: 24px;
} */

/* .nav-bar_desktop li {
  margin-bottom: 25px;
} */

/* .close {
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 20px;
}
.x-mark {
  height: 15px;
  width: 15px;
  color:#3a4a42;
  z-index: 10;
} */

/* .nav-bar_desktop a {
  text-decoration: none;
  color:#3a4a42;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  z-index: 10;
} */

.nav-bar img {
  height: 20px;
}

.headline-container {
  background-image: url("./assets/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-page {
  text-align: center;
  align-items: center;
  margin-top: 92px;
  width: 100%;
}

.header-page h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: var(--color-text);
}

.header-page h1 > span {
  color: var(--color-new);
}

footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #42526e;
  margin-top: 2rem;
}

.header-page p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-text);
  margin: 20px;
}

.header-icons {
  width: 96%;
  margin: 20px auto;
}

ul {
  list-style: none;
}

.list li {
  background: #ebf0ee;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.skills li {
  background: #fff;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.header-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-icons ul li {
  list-style: none;
  margin: 10px 5px;
  padding: 5px;
}

.bottom-icon {
  align-items: center;
  text-align: center;
  margin-top: 24px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.main-section {
  margin-top: 15%;
}

.works-section-title {
  font-family: var(--font-family);
  text-align: center;
  font-size: 40px;
  color: #172b4d;
  width: 60%;
  margin: 0 auto;
}

.works-section-title h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.works-grid-container {
  display: grid;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin: 62px auto;
}

.card img {
  width: 327px;
  max-width: 100%;
  height: 252px;
}

.card {
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-details {
  font-family: var(--font-family);
  align-items: center;
  gap: 12px;
  color: #172b4d;
}

.card-details h2 {
  margin-top: 16px;
  text-align: center;
  line-height: 42px;
}

.list {
  gap: 8px;
}

button {
  cursor: pointer;
}

.card-details button {
  margin: 15px 102px 24px 103px;
  padding: 12px;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about-me {
  background-image: url(./assets/about-top.svg), url(./assets/about_bg.svg);
  background-repeat: no-repeat;
  background-position: right -40px, 0 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me-img {
  display: none;
}

.about-me button {
  margin: 15px 102px 24px 103px;
  padding: 8px;
  background-color: var(--color-new);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

button:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

.about-me h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 20px 15px 0 15px;
  color: #42526e;
}

.about-me-container {
  display: grid;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin: 62px auto;
}

.about-card {
  margin: 24px 0;
}

.about-me-item {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  height: 316px;
}

.about-me-item h3 {
  font-family: var(--font-family);
  color: #172b4d;
}

.about-me-item ul {
  font-family: var(--font-family);
  color: var(--color-new);
}

.iconic {
  background-color: #fff;
  padding: 18px;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
}

.skills {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 285px;
}

.background {
  background: url(./assets/illustration-contact-form.svg);
  background-repeat: no-repeat;
  background-position: bottom right 5px, 0 270px;
}

.contact-section {
  width: 85%;
  margin: 0 auto;
}

.contact-me p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-desk-bg {
  display: none;
}

input[type="text"],
input[type="email"],
textarea {
  border: 0.5px solid #d0d9d4;
  border-radius: 0.3rem;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  padding: 0.8rem 0.7rem;
  color: #6b778c;
}

textarea {
  height: 11rem;
}

textarea::placeholder {
  font-family: var(--font-family);
  font-size: 12px;
  color: #6b778c;
}

button[type="submit"] {
  display: flex;
  align-items: center;
  align-self: center;
  background: var(--color-new);
  border-radius: 4px;
  padding: 12px;
  font-family: var(--font-family);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav-bar {
    display: none;
  }

  .close {
    display: none;
  }

  .nav-bar_desktop {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
  }

  .nav-bar_desktop ul {
    display: flex;
  }

  .nav-bar_desktop ul li {
    list-style: none;
    padding: 15px 20px;
    margin: 20px;
  }

  .nav-bar_desktop a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 600;
  }

  .headline-container {
    background-image: none;
    text-align: center;
    justify-content: center;
    width: 60%;
    margin: 30px auto;
  }

  .desktop-bg {
    background-image: url("./assets/desktop-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .header-page h1 {
    font-family: var(--font-family);
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    font-weight: 800;
    color: var(--color-text);
  }

  footer p {
    display: none;
  }

  .header-page p {
    width: 90%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--color-text);
    margin: 0 auto;
  }

  .works-section-title h2 {
    display: block;
  }

  .works-section-title img {
    display: none;
  }

  .works-grid-container {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card img {
    width: 100%;
  }

  .about-me {
    background-image: url(./assets/about-me-1.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
  }

  .about-me p {
    width: 57%;
  }

  .about-me-container {
    width: 80%;
    margin: 8% auto 1% auto;
  }

  .about-me-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-bottom: 20px;
    justify-content: center;
  }

  .about-me-item ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .about-card,
  .about-card ul {
    margin: 0 20px;
    padding: 0 20px;
  }

  .contact-section {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px auto 15% auto;
    padding: 0;
  }

  .contact-me {
    text-align: start;
    align-self: center;
    justify-content: center;
    width: 45%;
  }

  .contact-me p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    gap: 24px;
    width: 55%;
  }

  .form button {
    align-self: flex-start;
  }

  footer {
    margin-top: 5%;
  }

  .background {
    background:
      url(./assets/contact-2.svg),
      url(./assets/contact-1.svg),
      url(./assets/contact-3.svg);
    background-repeat: no-repeat;
    background-position: left bottom, 25% 80%, right bottom;
  }

  .about-me-img {
    position: absolute;
    left: -1.67%;
    margin-top: 70px;
    display: block;
  }

  .contact-desk-bg {
    position: absolute;
    left: 274px;
    top: 3220.17px;
    display: block;
    z-index: -1;
  }

  .header-page .animate-head {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: var(--color-text);
    position: relative;
    animation: heading;
    animation-duration: 3s;
  }

  @keyframes heading {
    0% {
      top: -400px;
    }

    100% {
      top: 10px;
    }
  }

  .header-page .animate {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--color-text);
    margin: 20px;
    position: relative;
    animation: paragraph;
    animation-duration: 3s;
  }

  @keyframes paragraph {
    0% {
      left: 1000px;
    }

    100% {
      left: 0;
    }
  }

  .contact-me .touch {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: var(--color-text);
    position: relative;
    animation: contact;
    animation-duration: 3s;
  }

  @keyframes contact {
    0% {
      right: 1000px;
    }

    100% {
      right: 0;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border: 0.5px solid #d0d9d4;
    border-radius: 0.3rem;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    padding: 0.8rem 0.7rem;
    color: #6b778c;
    position: relative;
    animation: form;
    animation-duration: 3s;
  }

  @keyframes form {
    0% {
      left: 1000px;
    }

    100% {
      left: 0;
    }
  }

  /* POPUP-WINDOW SECTION */

    .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background: #c1c7d0;
    z-index: 1;
  }

  .pop-up {
    width: 60%;
    margin: 30px auto;
    padding: 5px 20px;
    background-color: #fff;
    top: 60px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebecf0;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #ebecf0;
  }
  
}

/* MOBILE MEDIA QUERY */

@media screen and (max-width: 767px) {
  .x-mark {
    display: none;
    z-index: 20;
  }

  .nav-bar-mobile {
    display: none;
    position: absolute;
    top: 5rem;
    left: 4rem;
    flex-direction: column;
    gap: 50px;
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 600;
    z-index: 999;
  }

  .nav-bar-mobile a {
    color: #344563;
    text-decoration: none;
    gap: 20px;
  }
}