@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

:root {
  --font-family: "Inter", sans-serif;
  --color-text: #172b4d;
  --color-new: #36b37e;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  margin: 20px auto;
}

.nav-bar img {
  height: 20px;
}

.headline-container {
  background-image: url("./assets/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-page {
  text-align: center;
  align-items: center;
  margin-top: 92px;
  width: 100%;
}

.header-page h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: var(--color-text);
}

.header-page h1 > span {
  color: var(--color-new);
}

.header-page p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-text);
  margin: 20px;
}

.header-icons {
  width: 96%;
  margin: 20px auto;
}

.header-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-icons ul li {
  list-style: none;
  margin: 10px 5px;
  padding: 5px;
}

.bottom-icon {
  align-items: center;
  text-align: center;
  margin-top: 24px;
}
/* main section begins */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

ul {
  list-style: none;
}

.works-section-title {
  font-family: var(--font-family);
  text-align: center;
  font-size: 40px;
  color: #172b4d;
}

.works-grid-container {
  display: grid;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin: 62px auto;
}

.card img {
  width: 327px;
  max-width: 100%;
  height: 252px;
}

.card {
  width: 100%;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card-details {
  font-family: var(--font-family);
  align-items: center;
  gap: 12px;
  color: #172b4d;
}

.card-details h2 {
  margin-top: 16px;
}

.list {
  gap: 8px;
}

.list li {
  background: #ebf0ee;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.skills li {
  background: #fff;
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
}

.card-details button {
  margin: 15px 102px 24px 103px;
  padding: 12px;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about-me {
  background-image: url(./Icons/about-top.svg), url(./Icons/about_bg.svg);
  background-repeat: no-repeat;
  background-position: right -40px, 0 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-me button {
  margin: 15px 102px 24px 103px;
  padding: 8px;
  background-color: #36b37f;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

button {
  cursor: pointer;
}

button:hover {
  background: #36b37f;
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  background: #008552;
}

.about-me h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about-me p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin: 20px 15px 0px 15px;
  color: #42526e;
}

.about-me-container {
  display: grid;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin: 62px auto;
}
.about-me-item {
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
  height: 316px;
}

.about-me-item h3 {
  font-family: var(--font-family);
  color: #172b4d;
}

.about-me-item ul {
  font-family: var(--font-family);
  color: #36b37e;
}

.iconic {
  background-color: #fff;
  padding: 18px;
  border-radius: 50%;
  margin-top: 40px;
  box-shadow: 0px 16px 24px rgba(37, 47, 137, 0.08);
}

.skills {
  flex-wrap: wrap;
  justify-content: center;
  max-width: 285px;
}
